.calc{
    background-color: black;
    padding: 20px;
    width: 300px;
    margin-left: 200px;
}
.calc button{
    background-color: rgb(22, 21, 21);
    color: white;
    padding: 20px;
    border: solid rgb(25, 24, 24) 2px;
    border-radius: 15px;
    box-shadow: -1px -1px 5px;
    text-align: right;
    margin:10px;
    
}
h2{
    margin-left: 200px;
}
.calc input{
    background-color: black;
    border: solid rgb(26, 25, 25) 2px;
    width: 250px;
    height: 30px;
    color: white;
    text-align: right;
}
.delete{
    margin-left: 110px;  
}
.delete button{
    color: orangered;
}
.b-color{
    background-color: orangered;
}